In [51]:
import hashlib

In [52]:
import whyqd as _w

In [53]:
schema = _w.Schema()

In [54]:
details = {
        "name": "child_and_demography",
        "title": "Inequalities in maternal and child health",
        "description": """This table presents data for developing countries based on data from DHS conducted since 1990.
       Quintiles are defined by socioeconomic status in terms of assets or wealth, rather than in terms of income or consumption.
       For details, see Macro International. 2007b"""
}
schema = _w.Schema()
schema.set_details(**details)

In [55]:
details

{'name': 'child_and_demography',
 'title': 'Inequalities in maternal and child health',
 'description': 'This table presents data for developing countries based on data from DHS conducted since 1990.\n       Quintiles are defined by socioeconomic status in terms of assets or wealth, rather than in terms of income or consumption.\n       For details, see Macro International. 2007b'}

In [56]:
fields = [
  
    {
        "name": "Country",
        "title": "Country",
        "type": "string",
        "description": "Nom de chaque pays.",
        "constraints" :{
            "required": True
        }
    },
        
    {
        "name": "Survey_year",
        "title": "Survey_year",
        "type": "year",
        "description": "year of survey for every country." 
        
    },
       
    {
        "name": "HDI Category",
        "title": "HDI Category",
        "type": "string",
        "description": "Human Development Index Category derived from the HDI Rank."
    },
    {
        "name": "Indicator Name",
        "title": "Indicator Name",
        "type": "string",
        "description": "Indicator described in the data series."
    },
        
    {
        "name": "Reference",
        "title": "Reference",
        "type": "string",
        "description": "Reference to data source."
    },
   
    {
        "name": "Values",
        "title": "Values",
        "type": "number",
        "description": "Value for the Year and Indicator Name.",
        "constraints":{
            "required": True
        }
    }
]

In [57]:
for field in fields:
    schema.set_field(**field)

In [58]:
fields

[{'name': 'Country',
  'title': 'Country',
  'type': 'string',
  'description': 'Nom de chaque pays.',
  'constraints': {'required': True}},
 {'name': 'Survey_year',
  'title': 'Survey_year',
  'type': 'year',
  'description': 'year of survey for every country.'},
 {'name': 'HDI Category',
  'title': 'HDI Category',
  'type': 'string',
  'description': 'Human Development Index Category derived from the HDI Rank.'},
 {'name': 'Indicator Name',
  'title': 'Indicator Name',
  'type': 'string',
  'description': 'Indicator described in the data series.'},
 {'name': 'Reference',
  'title': 'Reference',
  'type': 'string',
  'description': 'Reference to data source.'},
 {'name': 'Values',
  'title': 'Values',
  'type': 'number',
  'description': 'Value for the Year and Indicator Name.',
  'constraints': {'required': True}}]

In [59]:
schema.field("country")

{'name': 'country',
 'type': 'string',
 'constraints': {'required': True},
 'title': 'Country',
 'description': 'Nom de chaque pays.'}

In [60]:
directory = "C:/Users/AUDREY/"
# vous pouvez également spécifier un nom de fichier facultatif
# si vous l'omettez, le nom du fichier sera par défaut le nom du schéma
filename = "child-and-demographie"
# si le fichier existe déjà, vous devrez spécifier "overwrite=True" sinon vous obtiendrez une erreur
schema.save(directory, filename=filename, overwrite=True)

True

In [61]:
### Les importations et paramètres suivants vous permettent d'obtenir un large éventail de résultats pour vos tableaux
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

import numpy as np
import whyqd as _w

SCHEMA_SOURCE = "C:/Users/AUDREY/child-and-demographie.json"
DIRECTORY = "C:/Users/AUDREY/"
INPUT_DATA = [
    "C:/Users/AUDREY/sbc4d/HDR 2007-2008 Table 08.xlsx"
]
method = _w.Method(SCHEMA_SOURCE, directory=DIRECTORY, input_data=INPUT_DATA)

In [62]:
print(method.print_input_data())

Data id: 81fc479b-7a9d-4cb6-adfa-e0de03c960d5
Original source: C:/Users/AUDREY/sbc4d/HDR 2007-2008 Table 08.xlsx

====  ============  =================================  ============  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
  ..    Unnamed: 0  Unnamed: 1                           Unnamed: 2    Unnamed: 3    Unnamed: 4    Unnamed: 5    Unnamed: 6    Unnamed: 7    Unnamed: 8    Unnamed: 9    Unnamed: 10    Unnamed: 11    Unnamed: 12    Unnamed: 13    Unnamed: 14    Unnamed: 15    Unnamed: 16    Unnamed: 17    Unnamed: 18    Unnamed: 19    Unnamed: 20    Unnamed: 21    Unnamed: 22    Unnamed: 23    Unnamed: 24
====  ============  =================================  ============  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
   0           nan  nan                                         nan           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   1           nan  …to lead a long and healthy life…           nan           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   2           nan  nan                                         nan           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
====  ============  =================================  ============  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============

In [63]:
method.default_morph_types

['CATEGORISE', 'DEBLANK', 'DEDUPE', 'DELETE', 'MELT', 'REBASE', 'RENAME']

In [64]:
# A titre d'exemple :
method.default_morph_settings("CATEGORISE")

{'name': 'CATEGORISE',
 'title': 'Categorise',
 'type': 'morph',
 'description': 'Convert row-level categories into column categorisations.',
 'structure': ['rows', 'column_names']}

In [65]:
# Utilisez _id, ou une autre variable, puisque `id` est un terme protégé par Python
_id = method.input_data[0]["id"]
df = method.input_dataframe(_id)
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,…to lead a long and healthy life…,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,8 Inequalities in maternal and child health,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,Births attended by skilled health personnel \n(%),NaN,NaN,NaN,One-year-olds fully immunizeda\n(%),...,NaN,NaN,"Infant mortality rateb\n(per 1,000 live births)",NaN,NaN,NaN,"Under-five mortality rateb\n(per 1,000 live bi...",NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
method.add_input_data_morph(_id, ["REBASE", 11])

In [67]:
# On obtient la valeur du dernier élément de l'index, puis on ajoute 1 pour créer l'intervalle
rows = [int(i) for i in np.arange(77, df.index[-1]+1)]
method.add_input_data_morph(_id, ["DELETE", rows])

In [68]:
method.input_dataframe(_id).tail()

,HDI\nRank,NaN,NaN,Survey year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,172,Mozambique,NaN,2003,25,89,45,NaN,90,NaN,49,20,143,NaN,71,NaN,196,NaN,108,NaN
73,173,Mali,NaN,2001,8,82,20,NaN,56,NaN,45,20,137,NaN,90,NaN,248,NaN,148,NaN
74,174,Niger,NaN,2006,21,71,20,NaN,48,NaN,54,37,91,NaN,67,NaN,206,NaN,157,NaN
75,176,Burkina Faso,NaN,2003,39,91,34,NaN,61,NaN,46,21,97,NaN,78,NaN,206,NaN,144,NaN
76,177,Sierra Leone,"d,h",2005,27,83,..,NaN,..,NaN,44,26,159,NaN,108,NaN,268,NaN,179,NaN

In [69]:
columns = [
    "Rang_IDH",
    "Country",
    "Reference 1",
    "Survey_year",
    "Birth_attended_Poor",
    "Birth_attended_Rich",
    "One-year-olds  immunized_Poor",
    "Reference 2",
    "One-year-olds  immunized_Rich",
    "Reference 3",
    "Child_underheight_ Poor",
    "Child_underheight_ Rich",
    "IMR_Poor",
    "Reference 4",
    "IMR_Rich",
    "Reference 5",
    "Under5_MR_Poor",
    "Reference 6",
    "Under5_MR_Rich",
    "Reference 7",
]
method.add_input_data_morph(_id, ["RENAME", columns])

In [70]:
df = method.input_dataframe(_id)
df.head()

,Rang_IDH,Country,Reference 1,Survey_year,Birth_attended_Poor,Birth_attended_Rich,One-year-olds immunized_Poor,Reference 2,One-year-olds immunized_Rich,Reference 3,Child_underheight_ Poor,Child_underheight_ Rich,IMR_Poor,Reference 4,IMR_Rich,Reference 5,Under5_MR_Poor,Reference 6,Under5_MR_Rich,Reference 7
12,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,70,Brazil,NaN,1996,72,99,57,NaN,74,NaN,23,2,83,NaN,29,NaN,99,NaN,33,NaN
14,MEDIUM HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,73,Kazakhstan,NaN,1999,99,99,69,NaN,62,c,15,8,68,NaN,42,NaN,82,NaN,45,NaN
16,75,Colombia,NaN,2005,72,99,47,NaN,72,NaN,20,3,32,NaN,14,NaN,39,NaN,16,NaN

In [71]:
# Obtenir les indices des lignes de données catégorielles
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
rows = df[df["Rang_IDH"].isin(hdi_categories)].index
method.add_input_data_morph(_id, ["CATEGORISE", rows, "HDI category"])

ValueError: Task morph `CATEGORISE` has invalid structure `['rows', 'column_names']`.

In [72]:
type(rows)

pandas.core.indexes.numeric.Int64Index

In [73]:
method.add_input_data_morph(_id, ["CATEGORISE", list(rows), "HDI category"])

In [74]:
df = method.input_dataframe(_id)
df.head()

,Rang_IDH,Country,Reference 1,Survey_year,Birth_attended_Poor,Birth_attended_Rich,One-year-olds immunized_Poor,Reference 2,One-year-olds immunized_Rich,Reference 3,...,Child_underheight_ Rich,IMR_Poor,Reference 4,IMR_Rich,Reference 5,Under5_MR_Poor,Reference 6,Under5_MR_Rich,Reference 7,HDI category
13,70,Brazil,NaN,1996,72,99,57,NaN,74,NaN,...,2,83,NaN,29,NaN,99,NaN,33,NaN,HIGH HUMAN DEVELOPMENT
15,73,Kazakhstan,NaN,1999,99,99,69,NaN,62,c,...,8,68,NaN,42,NaN,82,NaN,45,NaN,MEDIUM HUMAN DEVELOPMENT
16,75,Colombia,NaN,2005,72,99,47,NaN,72,NaN,...,3,32,NaN,14,NaN,39,NaN,16,NaN,MEDIUM HUMAN DEVELOPMENT
17,78,Thailand,d,2005-06,93,100,92,e,86,e,...,7,..,NaN,..,NaN,..,NaN,..,NaN,MEDIUM HUMAN DEVELOPMENT
18,79,Dominican Republic,NaN,1996,89,98,34,NaN,47,NaN,...,2,67,NaN,23,NaN,90,NaN,27,NaN,MEDIUM HUMAN DEVELOPMENT

In [75]:
# Sélectionnez toutes les colonnes à "melt"
columns1 = [
    "Rang_IDH",
    "Birth_attended_Poor",
    "Birth_attended_Rich",
    "One-year-olds  immunized_Poor",
    "One-year-olds  immunized_Rich",
    "Child_underheight_ Poor",
    "Child_underheight_ Rich",
    "IMR_Poor",
    "IMR_Rich",
    "Under5_MR_Poor",
    "Under5_MR_Rich",
]
method.add_input_data_morph(_id, ["MELT", columns1, ["Indicator Name", "Indicator Value"]])

In [76]:
columns2 = [
    "Reference 1",
    "Reference 2",
    "Reference 3",
    "Reference 4",
    "Reference 5",
    "Reference 6",
    "Reference 7"
]
method.add_input_data_morph(_id, ["MELT", columns2, ["Reference Name", "Reference"]])

In [77]:
method.add_input_data_morph(_id, ["DEBLANK"])

In [78]:
df = method.input_dataframe(_id)
df.head()

,Indicator Value,Country,Survey_year,Indicator Name,HDI category,Reference Name,Reference
0,70,Brazil,1996,Rang_IDH,HIGH HUMAN DEVELOPMENT,Reference 1,NaN
1,73,Kazakhstan,1999,Rang_IDH,MEDIUM HUMAN DEVELOPMENT,Reference 1,NaN
2,75,Colombia,2005,Rang_IDH,MEDIUM HUMAN DEVELOPMENT,Reference 1,NaN
3,78,Thailand,2005-06,Rang_IDH,MEDIUM HUMAN DEVELOPMENT,Reference 1,d
4,79,Dominican Republic,1996,Rang_IDH,MEDIUM HUMAN DEVELOPMENT,Reference 1,NaN

In [79]:
print(method.help("merge"))

`merge` will join, in order from right to left, your input data on a common column.

To add input data, where `input_data` is a filename, or list of filenames:

	>>> method.add_input_data(input_data)

To remove input data, where `id` is the unique id for that input data:

	>>> method.remove_input_data(id)

Prepare an `order_and_key` list, where each dict in the list has:

	{{id: input_data id, key: column_name for merge}}

Run the merge by calling (and, optionally - if you need to overwrite an existing merge - setting
`overwrite_working=True`):

	>>> method.merge(order_and_key, overwrite_working=True)

To view your existing `input_data`:

	>>> method.input_data


Data id: 81fc479b-7a9d-4cb6-adfa-e0de03c960d5
Original source: C:/Users/AUDREY/sbc4d/HDR 2007-2008 Table 08.xlsx

====  ============  =================================  ============  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
  ..    Unnamed: 0  Unnamed: 1                           Unnamed: 2    Unnamed: 3    Unnamed: 4    Unnamed: 5    Unnamed: 6    Unnamed: 7    Unnamed: 8    Unnamed: 9    Unnamed: 10    Unnamed: 11    Unnamed: 12    Unnamed: 13    Unnamed: 14    Unnamed: 15    Unnamed: 16    Unnamed: 17    Unnamed: 18    Unnamed: 19    Unnamed: 20    Unnamed: 21    Unnamed: 22    Unnamed: 23    Unnamed: 24
====  ============  =================================  ============  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
   0           nan  nan                                         nan           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   1           nan  …to lead a long and healthy life…           nan           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   2           nan  nan                                         nan           nan           nan           nan           nan           nan           nan           nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
====  ============  =================================  ============  ============  ============  ============  ============  ============  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============


Current method status: `Ready to Merge`

In [80]:
%time method.merge(overwrite_working=True)

Wall time: 4.22 s

In [81]:
print(method.help("structure"))

`structure` is the core of the wrangling process and is the process where you define the actions
which must be performed to restructure your working data.

Create a list of methods of the form:

	{
		"schema_field1": ["action", "column_name1", ["action", "column_name2"]],
		"schema_field2": ["action", "column_name1", "modifier", ["action", "column_name2"]],
	}

The format for defining a `structure` is as follows::

	[action, column_name, [action, column_name]]

e.g.::

	["CATEGORISE", "+", ["ORDER", "column_1", "column_2"]]

This permits the creation of quite expressive wrangling structures from simple building
blocks.

The schema for this method consists of the following terms:

['country', 'survey_year', 'hdi_category', 'indicator_name', 'reference', 'values']

The actions:

['CALCULATE', 'CATEGORISE', 'JOIN', 'NEW', 'ORDER', 'ORDER_NEW', 'ORDER_OLD', 'RENAME']

The columns from your working data:

['Indicator Value', 'Country', 'Survey_year', 'Indicator Name', 'HDI category', 'Reference Name', 'Reference']


Data id: working_aea110af-ce77-4afa-b963-4e0f34fd5110
Original source: method.input_data

====  =================  ==========  =============  ================  ========================  ================  ===========
  ..    Indicator Value  Country       Survey_year  Indicator Name    HDI category              Reference Name      Reference
====  =================  ==========  =============  ================  ========================  ================  ===========
   0                 70  Brazil               1996  Rang_IDH          HIGH HUMAN DEVELOPMENT    Reference 1               nan
   1                 73  Kazakhstan           1999  Rang_IDH          MEDIUM HUMAN DEVELOPMENT  Reference 1               nan
   2                 75  Colombia             2005  Rang_IDH          MEDIUM HUMAN DEVELOPMENT  Reference 1               nan
====  =================  ==========  =============  ================  ========================  ================  ===========


Current method status: `Ready to Structure`

In [82]:
structure = {
    "country": ["RENAME","Country"],
    "survey_year":["RENAME","Survey_year"],
    "hdi_category": ["RENAME", "HDI category"],
    "indicator_name": ["RENAME", "Indicator Name"],
    "reference": ["RENAME", "Reference"],
    "values": ["RENAME", "Indicator Value"]
}

In [83]:
method.set_structure(**structure)

In [84]:
method.transform(overwrite_output=True)
FILENAME = "exercice sbc4d"
method.save(directory, filename=FILENAME, overwrite=True)

In [85]:
method.input_data_morphs(_id)

[{'6cfdc1a6-8985-4e2a-8638-c5ab943db4e8': ['DEBLANK']},
 {'231464da-b857-4b71-aa18-69254f177572': ['DEDUPE']},
 {'0ca8f0b9-a377-439b-82ff-8bca3d1c9920': ['REBASE', [11]]},
 {'5bfa9c56-8c83-46b7-89e5-5d79ea06ddef': ['DELETE',
   [77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89]]},
 {'3ef019e2-9fea-486c-b7bc-33c21e3c4804': ['RENAME',
   ['Rang_IDH',
    'Country',
    'Reference 1',
    'Survey_year',
    'Birth_attended_Poor',
    'Birth_attended_Rich',
    'One-year-olds  immunized_Poor',
    'Reference 2',
    'One-year-olds  immunized_Rich',
    'Reference 3',
    'Child_underheight_ Poor',
    'Child_underheight_ Rich',
    'IMR_Poor',
    'Reference 4',
    'IMR_Rich',
    'Reference 5',
    'Under5_MR_Poor',
    'Reference 6',
    'Under5_MR_Rich',
    'Reference 7']]},
 {'edcb8873-0665-4310-8888-853a562e14f3': ['CATEGORISE',
   [12, 14, 58],
   ['HDI category']]},
 {'2e47ab01-bead-435b-b30a-fc66968f3a3a': ['MELT',
   [['Reference 6',
     'Country',
     'Reference 2',
     'Reference 1',
     'Reference 3',
     'Reference 7',
     'Reference 4',
     'Survey_year',
     'HDI category',
     'Reference 5'],
    ['Rang_IDH',
     'Birth_attended_Poor',
     'Birth_attended_Rich',
     'One-year-olds  immunized_Poor',
     'One-year-olds  immunized_Rich',
     'Child_underheight_ Poor',
     'Child_underheight_ Rich',
     'IMR_Poor',
     'IMR_Rich',
     'Under5_MR_Poor',
     'Under5_MR_Rich']],
   ['Indicator Name', 'Indicator Value']]},
 {'d3334fae-cfd8-46e6-b33a-dec3f2c54425': ['MELT',
   [['Indicator Value',
     'Country',
     'Survey_year',
     'Indicator Name',
     'HDI category'],
    ['Reference 1',
     'Reference 2',
     'Reference 3',
     'Reference 4',
     'Reference 5',
     'Reference 6',
     'Reference 7']],
   ['Reference Name', 'Reference']]},
 {'03ddb7b0-32eb-4802-889e-9b576fbf22f1': ['DEBLANK']}]

In [86]:
%time method.validates

Wall time: 3.36 s

True

In [87]:
import pandas as pd
import numpy as np

source = "C:/Users/AUDREY/output_421888b1-46b4-4db3-9bf2-a8296e5c12f3.csv" 

df = pd.read_csv(source)
df.head()

,country,survey_year,hdi_category,indicator_name,reference,values
0,Brazil,1996,HIGH HUMAN DEVELOPMENT,Rang_IDH,NaN,70
1,Kazakhstan,1999,MEDIUM HUMAN DEVELOPMENT,Rang_IDH,NaN,73
2,Colombia,2005,MEDIUM HUMAN DEVELOPMENT,Rang_IDH,NaN,75
3,Thailand,2005-06,MEDIUM HUMAN DEVELOPMENT,Rang_IDH,d,78
4,Dominican Republic,1996,MEDIUM HUMAN DEVELOPMENT,Rang_IDH,NaN,79

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         935 non-null    object
 1   survey_year     935 non-null    object
 2   hdi_category    781 non-null    object
 3   indicator_name  935 non-null    object
 4   reference       253 non-null    object
 5   values          935 non-null    object
dtypes: object(6)
memory usage: 22.0+ KB

In [90]:
from pandas_schema import Column, Schema
from pandas_schema.validation import LeadingWhitespaceValidation, TrailingWhitespaceValidation, IsDtypeValidation, InListValidation

# Nous ne testerons que ces colonnes
columns = ["country", "hdi_category", "values"]
# Et ces catégories
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]

schema = Schema([
    Column("country", [LeadingWhitespaceValidation(), TrailingWhitespaceValidation()]),
    Column("hdi_category", [InListValidation(hdi_categories)]),
    Column("values", [IsDtypeValidation(np.dtype(float)), IsDtypeValidation(np.dtype(int))])
])

errors = schema.validate(df[columns])

print(F"Nombre d'erreurs :  {len(errors)}")
# Juste les 10 premiers
for error in errors[:10]:
    print(error)

Nombre d'erreurs :  156
The column values has a dtype of object which is not a subclass of the required type float64
The column values has a dtype of object which is not a subclass of the required type int32
{row: 50, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 51, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 52, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 53, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 54, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 55, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 56, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 57, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)

In [50]:
for l in method.citation.split(","):
    print(l)

2020-05-27
 Inequalities in maternal and child health
 b87fb1cf66d761dc80b0fb3ff3cc0fa5b50d27f832ddafd86f0c879d21b554d9f31e18bada5a67ff37429769f48b2e5b03077714f723574d71aab67856bdd2ed
 [input sources: C:/Users/AUDREY/sbc4d/HDR 2007-2008 Table 08.xlsx
 e83c6dcdb9dea5d30aca9cc1e09f394ed826948a7e2ed137f2ceb5a3a49fa5ad248db25a94e40a9835683dd2da0f41a76daad1cbff249ff0d46c0bf1bb8f5810]